.button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	padding: 8px 16px;
	background-color: #08d61a;
	font-size: 13px;
	color: #fff;
	border: none;
	text-decoration: none !important;
	border-radius: 4px;
	cursor: pointer;
}
